<div class="my-container">
  <div class="text-cover">
    <h1>pedro braga miranda</h1>
    <h3>full stack dev ・ data analyst</h3>
      <p>I believe in the power of technology to solve social problems.
        <br>
      Currently a PhD candidate at FGV-EBAPE and a Full-Stack Ruby on Rails teacher at Le Wagon.</p>
    <div class="list">
      <a href="mailto:pbragamiranda@gmail.com" target="_blank">
        <button type="button" class="btn btn-outline-success">Contact Me</button>
      </a>
      <a href="https://github.com/pbragamiranda" target="_blank">
          <i class="fab fa-github fa-2x"></i>
      </a>
      <a href="https://www.linkedin.com/in/pbragamiranda/" target="_blank">
          <i class="fab fa-linkedin fa-2x"></i>
      </a>
       <a href="https://twitter.com/pbragamiranda" target="_blank">
          <i class="fab fa-twitter fa-2x"></i>
      </a>
    </div>
  </div>
</div>
